@font-face {
  font-family: NanumSquareEB;
  src: url(./fonts/NanumSquareEB.woff);
}

@font-face {
  font-family: NanumSquareR;
  src: url(./fonts/NanumSquareR.woff);
}

@font-face {
  font-family: NanumSquareRoundEB;
  src: url(./fonts/NanumSquareRoundEB.woff);
}
